---
title: Light House
---
<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag "green-quarter-logo.svg", class: "" %>
      </div>
      <div class="col-9">
        <h1>A community approach to saving energy</h1>
      </div>
    </header>
  </div>
</div>
<div class="container">
  <div class="row headlines">
    <div class="col-3 colophon">
      <%= image_tag "power-pack-supported.svg", class: "" %>
    </div>
    <div class="col-9 proposition">
      <h2>Help your clients save money on their electricity</h2>

      <p>By switching to the latest energy efficient light bulbs, households can save around £120 a year.</p>

      <p>And even though they last many times longer than old fashioned bulbs, many households just don’t have the spare cash to buy LED light bulbs.</p>

      <p>A typical 60W bulb can be replaced with a 6W LED light&nbsp;bulb.</p>

      <p>At today’s prices, running 20 bulbs for just 2 hours a day would cost £130 per year, dropping to £13 a year with LED lights.</p>


      <h2>Bulbs are initially funded through Community Shares</h2>

      <p>Green Quarter Community Energy Co-op, a social enterprise, will raise capital through community shares to fund the upfront cost of the LED light bulbs.</p>

      <p>Community shares allow local people to invest ethically in improving their community.</p>

      <p>Across the country, community shares have been used to raise millions of pounds to build community-owned solar, wind and hydroelectric projects.</p>


      <h2>Households pay £1 a week for three&nbsp;years</h2>

      <p>To get involved, households pay just £1 per week for 3 years, after which they own the bulbs. With an expected lifetime of up to 15 years, the savings can have a huge impact on a household in fuel poverty.</p>

      <p>Because Green Quarter Community Energy Co-op is a local social enterprise, there are no banks involved. The money is lent by the community and the money stays where it belongs: in the community.</p>

      <h2>Households join a co-operative community</h2>

      <p>By joining the scheme, households also become members of Green Quarter Community Energy Co-op, a co-operative, allowing them to have their say on funding community benefit projects.</p>

      <p>Participation in community groups can also increase resilience and community cohesion.</p>

      <h2>Housing associations reduce their carbon impact for free</h2>

      <p>Retrofitting LED lighting can save around a tonne of carbon per household per year.</p>

      <p>For 10,000 houses that’s around 3,250 tonnes of carbon a year, roughly equivalent to taking 1,250 cars off the road.</p>

      <p>What’s more, all the housing association has to do is promote the scheme and refer potential clients.</p>
    </div>

  </div>
</div>

<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-8">
        <h1>Can you connect us with households to join a pilot?</h1>

        <p>Do you have tenants you think would benefit? We’re looking for 25 houses to pilot the scheme.</p>

        <p><strong>Can you connect us with 25 households?</strong></p>
        <p class="button"><a href="mailto:ian.drysdale@coop.co.uk">Find out more</a></p>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <section class="how-it-works">
    <div class="row">
      <div class="col-12">
        <h1>How it works</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <p class="bulb-number">1</p>
        <div class="step-description">
          <h3>Housing Associations raise awareness with their clients</h3>
          <p>You raise awareness of the scheme with your clients and refer those interested in joining.</p>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <p class="bulb-number">2</p>
        <div class="step-description">
          <h3>Households sign&nbsp;up</h3>
          <p>Households join the scheme and commit to a £1 a week payment for 3 years.</p>
          <p>We help them work out which bulbs they need, then send them a box in the post.</p>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <p class="bulb-number">3</p>
        <div class="step-description">
          <h3>We replace bulbs free for three years</h3>
          <p>If a bulb breaks within the three year period, we’ll send them a new one in the post, free of charge.</p>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <p class="bulb-number">4</p>
        <div class="step-description">
          <h3>Households save money, forever</h3>
          <p>LED bulbs use up to 15 times less electricity than traditional ones. This means a typical household can save £100s of pounds a year on electricity – FOREVER!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h3>We provide top quality, modern LED light bulbs</h3>

        <p>We use top brand LED lights that provide instant-on, high quality light.</p>

        <p>Many people find LED lights provide a higher quality of light than old fashioned, incandescent or fluorescent lights. And LED technology doesn’t suffer from slow warm up times. Finally, LEDs don’t run as hot as older bulbs so are generally safer to use.</p>

        <h3>We keep it simple with 20 LED light bulbs</h3>

        <p>Most houses get the maximum benefit by replacing the most used 20 light bulbs with LED lights.</p>

        <p>To simplify administration and make it possible, we always offer 20 light bulbs at a fixed £1 per week charge.</p>

        <h3>Community finance can help those who are currently excluded</h3>

        <p>At £1 a week for three years, it costs a household £156 to purchase LED light bulbs through Light House.</p>

        <p>We estimate that a household could buy equivalent bulbs on the high street for around £100 - £120.</p>

        <p>For households with spare cash who are confident in choosing the right light bulbs, it may be better to purchase them outright and manage their own warranties.</p>

        <p>For households that can’t easily find £120 or who are unsure about what brightness, colour and fittings they require, we believe Light House provides a low cost, convenient option.</p>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Light House is a collaboration between Green Quarter Community Energy Co-op and the Co-operative Group. Our mission is to accelerate Britain's transition to sustainable energy, controlled by its communities.</p>
        <p>Green Quarter Community Energy Co-op is a community-owned social enterprise that develops and runs solar generation in Manchester.</p>
      </div>
      <div class="col-3">
        <%= image_tag "green-quarter-logo-reverse.svg", class: "" %>
        <%= image_tag "power-pack-supported-reverse.svg", class: "" %>
      </div>
    </div>
  </div>
</footer>
