---
title: Light House
---
<div class="banner">
  <div class="container">
    <header class="row">
      <div class="col-3">
        <%= image_tag "power-pack-supported.svg", class: "" %>
      </div>
      <div class="col-9">
        <h1>Achieving social impact and energy efficiency with Light House</h1>
      </div>
    </header>
  </div>
</div>
<div class="container">
  <div class="row headlines">
    <div class="col-9 proposition">
      <h1>Community energy groups have achieved amazing things</h1>
      <p>Community energy groups have been pioneers in a number of ways. Groups have demonstrated a superior model of financing green projects, without the need for banks or big corporations.</p>
      <p>Groups have made immediate environmental benefit, generating renewable energy to power thousands of homes.</p>
      <p>Perhaps most importantly, community energy groups have got people excited and engaged in a better, low carbon future. By just getting on with it, they’ve shifted the narrative away from doom and gloom, showing communities that they can make a difference.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h1>New generation schemes are on hold</h1>
      <p>The Government’s sudden cut in the feed-in-tariff from around 11p to around 4.5p has shattered the business case for new, small generation schemes. The groups we’ve spoken to have either stopped developing generation projects, or are looking at very specific, limited sites that can work.</p>
      <p>But community energy groups aren’t going to give up that easily. Groups are looking around, searching for new types of projects they can experiment with.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h1>What new ways can groups achieve environmental and social impact?</h1>
      <p>What new types of projects can provide environmental benefit and community income with a sound, resilient business model?</p>
      <p><a href="https://1010uk.org/articles/community-energy-way-forward">Community energy: the way forward</a> suggests lots of options. Which of these can community energy groups start experimenting with today?</p>
    </div>
  </div>
</div>

<div class="container">
  <section class="answer">
    <div class="row">
      <div class="col-9">
        <h1>We believe energy efficiency is a perfect match</h1>
        <p>We all know the energy hierarchy: saving energy wins over green generation, but energy efficiency has been fraught with policy failures and poor implementation.</p>
        <p>We believe community energy groups are in a perfect position to deliver energy efficiency improvements.</p>
        <p>Community energy groups can reach local people, raise money, and get people engaged in our future in way that a top-down, government scheme never can.</p>
        <p>Energy efficiency is tricky and we’re all still learning, so we need to start somewhere small.</p>

        <h2>LED light bulb retrofitting is a small, well-known starting point</h2>
        <p>Much like solar photovoltaics, LED light bulbs have undergone a technical revolution. Now their reduced price, excellent light quality and long life makes them an obvious choice for those who can afford them.</p>
        <p>But many can not, and have not switched to LED light bulbs. Our own research with people living in fuel poverty shows that ...</p>
        <p>The reality is that the people who would benefit the most from a saving on their bills are missing out.</p>
        <p>What if community energy groups funded the purchase of whole-house LED retrofitting, with support from Co-op to manage the fulfillment and support?</p>

        <h2>LED retrofitting is great value for money</h2>
        <p>We’ve been working with Sheffield Renewables to model how an LED retrofit project might work as a community energy project.</p>
        <p>The example model we’ve come up with has these headline numbers:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>100 houses at £80 a house</h3>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>£8,000 share offer for 3 year period with 5% interest</h3>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>£1 per week charge</h3>
          <p>to the household for 3 years</p>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>Generating £1,700 total community benefit fund</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>Saving 80,000 kWh per year</h3>
          <p>(roughly equivalent to 100kWp PV project)</p>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>Saving 33 tonnes of carbon per year</h3>
        </div>
      </div>
      <div class="col-3 bulb-step">
        <%= image_tag "lightbulb.svg", class: "" %>
        <div class="step-description">
          <h3>£2,600 total surplus income</h3>
          <p>for community energy group</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <h2>LEDs compare well against solar PV</h2>
        <p>Working on the assumption that a 49kW solar array generates 41,000kWh per year, costs £60,000 and lasts 20 years, its lifetime saving would be 800,000kWh or 330 tonnes of carbon. That’s about £180 per tonne of carbon (excluding the carbon cost of building the solar array).</p>
        <p>Based on our assumptions, a 100-house retrofit project would save 80,000kWh per year, cost £8,000 and last at least 5 years. The lifetime saving would be about 400,000kWh or 165 tonnes carbon, at a much lower cost of £49 per tonne.</p>
        <p>And that assumes that the LED light bulbs die exactly at the end of their 5 year warranty period. In reality, they may last 10 or 15 years.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Solar PV</th>
              <th>100 house LEDs </br>(5 year lifespan)</th>
              <th>100 house LEDs </br>(10 year lifespan)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Project cost</td>
              <td>£60,000</td>
              <td>£8,000</td>
              <td>£8,000</td>
            </tr>
            <tr>
              <td>Energy saving per year</td>
              <td>41,000 kWh</td>
              <td>79,000 kWh</td>
              <td>79,000 kWh</td>
            </tr>
            <tr>
              <td>Lifetime</td>
              <td>20 years</td>
              <td>5 years</td>
              <td>10 years</td>
            </tr>
            <tr>
              <td>Lifetime evergy saving</td>
              <td>820,000 kWh</td>
              <td>394,000 kWh</td>
              <td>788,000 kWh</td>
            </tr>
            <tr>
              <td>Lifetime carbon saving</td>
              <td>338 tonnes</td>
              <td>162 tonnes</td>
              <td>325 tonnes</td>
            </tr>
            <tr>
              <td>Cost per tonne of carbon saved</td>
              <td>£178</td>
              <td>£49</td>
              <td>£25</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <h2>[LED retrofitting] can directly help the community</h2>
        <p>Community energy efficiency projects can directly benefit local people with more comfortable housing: money saved on lighting could be spent on heating. Warmer, drier houses are healthier, too.</p>
        <p>With community funding, those with the least can still benefit from the most modern technology.</p>
        <p>LED retrofitting gives benefit directly to those involved in the project, in addition to the usual community benefit fund.</p>

        <h2>[LED retrofitting] doesn’t rely on government subsidies</h2>
        <p>Energy efficiency projects pay for themselves without the need for subsidies, CSR or charity money. That makes them resilient and scalable.</p>
        <p>A successful 25 home pilot could scale to thousands, independent of the whims of the latest policy, tariff or tax break.</p>

        <h2>[LED retrofitting] could increase inclusion among community energy groups</h2>
        <p>Delivering energy services to local households could be a way of increasing the membership of a community energy co-operative.</p>
        <p>We imagine that groups may want to include participating households as equal voting members.</p>
        <p>That would be a truly co-operative model: local people with spare money lending to those without, connected by the genuine equality of co-operative membership.</p>

        <h2>[LED retrofitting] is a step towards Community Energy Services</h2>
        <p>From <a href="https://1010uk.org/articles/community-energy-way-forward">Community energy: the way forward</a> and talking to several groups, it’s clear that people are exploring diversifying from generation into energy services.</p>
        <p>LED retrofitting could be manageable way of testing that transition, while giving a benefit to local people.</p>
        <p>We believe in a future with more local supply, and concepts like Energy Local would be best delivered through community energy co-operatives.</p>
        <p>Local supply - or at least pseudo-supply - will require community energy groups to build relationships with households. Energy efficiency projects could be a way of starting that journey.</p>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-9">
      <h1>Light House: a joint approach</h1>
      <p>Light House is a pilot project to make it simpler for community energy groups to deliver LED retrofitting.</p>
      <p>Community energy groups are excellent at raising community shares, engaging local people, and managing a community.</p>
      <p>However, community groups are likely to have difficulty administering large scale purchasing, delivery, management and customer service of a LED retrofitting scheme.</p>
      <p>Light House is designed to combine the strength and network of community groups with the scale and digital capabilities of the co-op.</p>

      <h2>Light House helps administer and run each project</h2>
      <p>Light House provides a digital platform to ease the delivery of LED retrofitting. The main responsibilities of the platform are:</p>

      <ul>
        <li>Allowing a community to model a project with number of houses, cost of installation, percentage interest and so on</li>
        <li>Creating a draft share offer based on the model parameters</li>
        <li>Collecting information from households on what LED light types and fittings they require</li>
        <li>Bulk purchasing and delivering light bulbs to households</li>
        <li>Collecting weekly payment from households and distributing back to the community energy company</li>
        <li>Calculating interest payments to shareholders</li>
        <li>Calculating figures for accounts</li>
        <li>Managing warranty returns for any bulbs which break within warranty</li>
        <li>Creating period reports on energy and carbon savings achieved</li>
      </ul>

      <h2>Community energy groups raise capital and manage their members</h2>
      <p>In much the same way community energy groups run today, groups have the following responsibilities:</p>
      <ul>
        <li>Promoting &amp; administering the share offer (although share offers can be largely automatically generated)</li>
        <li>Recruiting households (either directly or through delivery partners such as housing associations)</li>
        <li>Managing relationships with delivery partners</li>
        <li>Welcoming &amp; involving new members (households and shareholders)</li>
        <li>Managing &amp; spending community benefit fund</li>
        <li>Normal running of the co-operative such as AGMs, events, accounts and outreach</li>
      </ul>

      <h2>Households pay a weekly subscription</h2>
      <p>Households are responsible for a one-off assessment of what bulbs they need, assisted by the Light House service. They then commit to a £1 per week subscription for 3 years.</p>
    </div>
  </div>

</div>
<div class="cta">
  <div class="container">
    <section class="row">
      <div class="col-9">
        <h1>Interested in Light House?</h1>
        <p>We’d love to hear from you. Please get in touch.</p>
        <p class="button"><a href="mailto:ian.drysdale@coop.co.uk">Contact us</a></p>
      </div>
    </section>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <p>Light House is a collaboration between Green Quarter Community Energy Co-op and the Co-operative Group. Our mission is to accelerate Britain's transition to sustainable energy, controlled by its communities.</p>
        <p>Green Quarter Community Energy Co-op is a community-owned social enterprise that develops and runs solar generation in Manchester.</p>
      </div>
    </div>
  </div>
</footer>
