---
title: Light House
---

<div class="container">
  <header class="row">
    <div class="col-3">
      <%= image_tag "sheff-renewables-light-house-logo.svg", class: "logo" %>
    </div>
    <div class="col-9">
      <h1>Help your clients save money on their electricity</h1>

    </div>
  </header>
  <div class="row">
    <div class="col-3 colophon">
      <p>Light House is a collaboration between the Sheffield Renewables and the Co-operative Group.</p>

      <p>Sheffield Renewables is a community-owned social enterprise that develops and runs solar and hydroelectric generators in Sheffield.</p>
    </div>
    <div class="col-9 proposition">
      <h2>LED lighting typically saves households £2-3 a&nbsp;week</h2>

      <p>By switching to the latest energy efficient light bulbs, households can save over £100 a year. And even though they last many times longer than old fashioned bulbs, many households just don’t have the spare cash to buy LED light bulbs.</p>

      <h2>Households pay £1 a week for three&nbsp;years</h2>

      <p>Supported by the Co-op, Sheffield Renewables are raising capital through community shares to fund LED light bulb retrofitting.</p>

      <p>To get involved, households pay just £1 per week for 3 years, after which they own the bulbs. With an expected lifetime of up to 15 years, the savings can have a huge impact on a household in fuel poverty.</p>

      <h2>Households join a wider&nbsp;community</h2>

      <p>By joining the scheme, households also become members of Green Quarter Community Energy Co-operative, allowing them to have their say on funding future community projects.</p>

      <p>Participation in community groups can also help reduce loneliness and improve engagement in other community projects.</p>

      <h2>Reduce the carbon impact of your housing stock</h2>

      <p>Retrofitting LED lighting can save around a tonne of carbon per household per year.</p>

      <p>For a housing association with 20,000 houses that’s roughly equivalent to taking 8,000 cars off the road each&nbsp;year.</p>

      <h2>Can you connect us with households to join a pilot?</h2>

      <p>Do you have tenants you think would benefit? We’re looking for 25 houses to pilot the scheme.</p>

      <p><strong>Can you connect us with 25 households?</strong></p>
</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>How it works</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3 bulb-step">
      <%= image_tag "bulb.svg", class: "bulb" %>
      <p class="bulb-number">1</p>
      <div class="step-description">
        <h3>Housing Associations raise awareness with their clients</h3>
        <p>You raise awareness of the scheme with your clients and refer those interested in joining.</p>
      </div>
    </div>
    <div class="col-3 bulb-step">
      <%= image_tag "bulb.svg", class: "bulb" %>
      <p class="bulb-number">2</p>
      <div class="step-description">
        <h3>Households sign up</h3>
        <p>Households join the scheme and commit to a £1 a week payment for 3 years.</p>
        <p>We help them work out which bulbs they need, then send them a box in the post.</p>
      </div>
    </div>
    <div class="col-3 bulb-step">
      <%= image_tag "bulb.svg", class: "bulb" %>
      <p class="bulb-number">3</p>
      <div class="step-description">
        <h3>We replace bulbs free for three years</h3>
        <p>If a bulb breaks within the three year period, we’ll send them new one in the post, free of charge.</p>
      </div>
    </div>
    <div class="col-3 bulb-step">
      <%= image_tag "bulb.svg", class: "bulb" %>
      <p class="bulb-number">4</p>
      <div class="step-description">
        <h3>Households save money, forever</h3>
        <p>LED bulbs use up to 15 times less electricity than traditional ones. This means a typical household can save £100s of pounds a year on electricity – FOREVER!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="call-to-action"><a href="mailto:ian.drysdale@coop.co.uk">Find out more</a></p>
    </div>
  </div>
</div>
